@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<TWN_Stock_Insight.Models.StockPrice>
@if (Model == null || !Model.Any())
{
    <p>查無資料</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>日期</th>
                <th>開盤價</th>
                <th>最高點</th>
                <th>最低點</th>
                <th>收盤價</th>
                <th>成交筆數</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>@stock.Date.ToString("yyyy-MM-dd")</td>
                    <td>@stock.Open</td>
                    <td>@stock.High</td>
                    <td>@stock.Low</td>
                    <td>@stock.Close</td>
                    <td>@stock.Count</td>
                </tr>
            }
        </tbody>
    </table>

}
